<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>Friends In Global Health</author>
	<description>${project.parent.description}</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openmrsPlatformVersion}</require_version>
	<!-- / Module Properties -->
	
	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.FhirProxyActivator</activator>
    <aware_of_modules>
        <aware_of_module version="2.2.0">org.openmrs.module.fhir</aware_of_module>
    </aware_of_modules>

    <filter>
        <filter-name>FHIR Proxy</filter-name>
        <filter-class>org.openmrs.module.fhirproxy.web.filter.FhirProxyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>FHIR Proxy</filter-name>
        <url-pattern>/ws/fhir2/R4/ChargeItemDefinition/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FHIR Proxy</filter-name>
        <url-pattern>/ws/fhir2/R4/InventoryItem/*</url-pattern>
    </filter-mapping>
    
    <!-- Global properties -->
    <globalProperty>
        <property>${project.parent.artifactId}.charge.item.definition.privileges</property>
        <description>
            Comma separated list of privileges required to manage charge item definition FHIR resource, when the
            external API is enabled
        </description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.inventory.item.privileges</property>
        <description>
            Comma separated list of privileges required to manage item inventory FHIR resource when the
            external API is enabled
        </description>
    </globalProperty>
</module>

